
# For logging
# albumentations==1.3.0
# fairscale==0.4.13
# for BLIP captioning
# for Image utils
# for WD14 captioning (onnx)
# for WD14 captioning (tensorflow)
# for cuda 12.1(default 11.8)
# for kohya_ss library
# for loading Diffusers' SDXL
# gradio==3.16.2
# onnx==1.15.0
# onnxruntime-gpu --extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/
# onnxruntime-gpu==1.17.1
# onnxruntime==1.16.0
# onnxruntime==1.17.1
# open clip for SDXL
# open clip for SDXL
# open-clip-torch==2.20.0
# protobuf==3.20.3
# requests==2.28.2
# tensorboard==2.14.1
# tensorflow==2.14.0
# this is for onnx:
# this is for onnx: 
# timm==0.6.12ge
accelerate==0.25.0
aiofiles==23.2.1
altair==4.2.2
beartype
bitsandbytes==0.43.0
dadaptation==3.1
diffusers[torch]==0.25.0
easygui==0.98.3
einops==0.7.0
fairscale==0.4.13
ftfy==6.1.1
gradio==3.50.2
huggingface-hub==0.20.1
imagesize==1.4.1
invisible-watermark==0.2.0
lion-pytorch==0.0.6
lycoris_lora==2.3.0.dev4
omegaconf==2.3.0
onnx==1.14.1
onnxruntime-gpu==1.16.0
open-clip-torch==2.20.0
opencv-python==4.7.0.68
prodigyopt==1.0
protobuf==3.20.3
pytorch-lightning==1.9.0
rich==13.7.0
safetensors==0.4.2
scipy==1.11.4
tensorboard
timm==0.6.12
tk==0.1.0
toml==0.10.2
transformers==4.36.2
voluptuous==0.13.1
wandb==0.15.11
-e . # no_verify leave this to specify not checking this a verification sta
